Repository maxjoehnk/remote-party-games: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-web-client, build-matchmaking, build-proxy, build-images, deploy-beta

.gitlab-ci.yml:

image: docker:latest
services:
  - docker:dind

stages:
  - build
  - deploy-beta
  - deploy-live

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

variables:
  WEB_CLIENT_IMAGE: $CI_REGISTRY/maxjoehnk/remote-party-games/web-client:latest
  MATCHMAKING_IMAGE: $CI_REGISTRY/maxjoehnk/remote-party-games/matchmaking:latest
  PROXY_IMAGE: $CI_REGISTRY/maxjoehnk/remote-party-games/proxy:latest
  IMAGES_IMAGE: $CI_REGISTRY/maxjoehnk/remote-party-games/images:latest

build-web-client:
  stage: build
  script:
    - docker build --pull -t "$WEB_CLIENT_IMAGE" -f applications/web-client/Dockerfile .
    - docker push "$WEB_CLIENT_IMAGE"
  only:
    refs:
    - master
    changes:
    - applications/web-client/**/*

build-matchmaking:
  stage: build
  script:
    - docker build --pull -t "$MATCHMAKING_IMAGE" -f applications/matchmaking/Dockerfile .
    - docker push "$MATCHMAKING_IMAGE"
  only:
    refs:
      - master
    changes:
      - applications/matchmaking/**/*

build-proxy:
  stage: build
  script:
    - docker build --pull -t "$PROXY_IMAGE" ./applications/proxy
    - docker push "$PROXY_IMAGE"
  only:
    refs:
      - master
    changes:
      - applications/proxy/**/*

build-images:
  stage: build
  script:
    - docker build --pull -t "$IMAGES_IMAGE" -f applications/image/Dockerfile .
    - docker push "$IMAGES_IMAGE"
  only:
    refs:
      - master
    changes:
      - applications/image/**/*

deploy-beta:
  stage: deploy-beta
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_DEPLOY_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$BETA_SERVER $BETA_SERVER_HOST_KEY" > ~/.ssh/known_hosts
  script:
    - ssh root@$BETA_SERVER "cd remote-party-games && ./deploy-beta.sh"
  environment:
    name: beta
    url: https://beta.party.maxjoehnk.me
  only:
    refs:
      - master
    changes:
      - applications/**/*
      - gitlab-ci.yml
      - docker-compose.yml

deploy-live:
  stage: deploy-live
  script:
    - echo "deploying live system..."
  environment:
    name: live
    url: https://party.maxjoehnk.me
  when: manual
  only:
    - master

feat(ci): always deploy beta environment
  .gitlab-ci.yml
Due: none

feat(ci): merge deploy stages
  .gitlab-ci.yml
Due: none

feat(ci): add resource_groups to deployment jobs
  .gitlab-ci.yml
Due: none

chore(docker-compose): replace nginx proxy with proper traefik config
  docker-compose.dev.yml
  docker-compose.yml
Due: deploy-beta

fix(docker-compose): path prefix rules use wrong quotes
  docker-compose.yml
Due: deploy-beta

feat(deployment): add initial terraform deployment
  .gitlab-ci.yml
  deployment/image_service.tf
  deployment/main.tf
  deployment/matchmaking.tf
  deployment/versions.tf
  deployment/web-client.tf
Due: none

fix(deployment): use terraform base image for deployment jobs
  .gitlab-ci.yml
Due: none

fix(deployment): add deployment variables to prepare stage
  .gitlab-ci.yml
Due: none

fix(deployment): add ssh deployment key to prepare stage
  .gitlab-ci.yml
Due: none

fix(ci): remove proxy image and fix image service docker image name
  .gitlab-ci.yml
Due: none

feat(matchmaking): include pictionary and taboo game files
  applications/matchmaking/Dockerfile
  applications/matchmaking/assets/pictionary_german.csv
  applications/matchmaking/assets/taboo.csv
Due: build-matchmaking, deploy-beta

fix(deployment): add traefik network annotation
  deployment/image_service.tf
  deployment/matchmaking.tf
Due: none

chore(deployment): add stop environment support
  .gitlab-ci.yml
Due: none

chore(deployment): only destroy when stopping environment
  .gitlab-ci.yml
Due: none

feat(deployment): add live deployment
  .gitlab-ci.yml
Due: none

feat(deployment): add feature flag support to disable certain games without deploying
  .gitlab-ci.yml
  applications/matchmaking/package.json
  applications/matchmaking/src/app.module.ts
  applications/matchmaking/src/controllers/games-controller.ts
  applications/matchmaking/src/games/factory.ts
  applications/web-client/src/app/matchmaking/lobby/lobby.component.tsx
  deployment/main.tf
  deployment/matchmaking.tf
  yarn.lock
Due: build-web-client, build-matchmaking, deploy-beta

fix(matchmaking): bump typescript version so nestjs-unleash compiles
  applications/matchmaking/package.json
  yarn.lock
Due: build-matchmaking, deploy-beta

fix(deployment): use commit sha as image tags
  .gitlab-ci.yml
  deployment/image_service.tf
  deployment/matchmaking.tf
  deployment/web-client.tf
Due: none

fix(deployment): actually build docker images with git sha tags
  .gitlab-ci.yml
Due: none

chore(ci): refactor deployment scripts
  .gitlab-ci.yml
Due: none

fix(matchmaking): lazy load unleash service
  applications/matchmaking/src/games/factory.ts
Due: build-matchmaking, deploy-beta

chore(ci): disable change detection for docker builds until we use the latest tag instead of commit ref
  .gitlab-ci.yml
Due: none

fix(matchmaking): remove dependency of unleash service in game factory
  applications/matchmaking/src/games/factory.ts
Due: build-matchmaking, deploy-beta

refactor(matchmaking): refactor socket broadcaster in preparation for socket service
  applications/matchmaking/src/app.module.ts
  applications/matchmaking/src/games/factory.ts
  applications/matchmaking/src/games/pictionary/pictionary.ts
  applications/matchmaking/src/games/pictionary/state-messenger.ts
  applications/matchmaking/src/games/stille-post/stille-post.ts
  applications/matchmaking/src/games/taboo/taboo.ts
  applications/matchmaking/src/handler/update-user-image.handler.ts
  applications/matchmaking/src/sockets/lobby-broadcaster.ts
  applications/matchmaking/src/sockets/socket-broadcaster.ts
  applications/matchmaking/src/sockets/socket-gateway.ts
Due: build-matchmaking, deploy-beta

feat(client): add image as background
  README.md
  applications/web-client/.parcelrc
  applications/web-client/assets/background_1.png
  applications/web-client/package.json
  applications/web-client/src/app/app.component.tsx
  applications/web-client/src/app/footer.component.css
  applications/web-client/src/app/footer.component.tsx
  applications/web-client/src/app/games/taboo/taboo-card.component.css
  applications/web-client/src/app/header.component.css
  applications/web-client/src/app/player/player-avatar.component.css
  applications/web-client/src/styles/_clearfix.scss
  applications/web-client/src/styles/_variables.scss
  applications/web-client/src/styles/styles.scss
  yarn.lock
Due: build-web-client, deploy-beta

fix(client): images are not properly loaded in docker build
  applications/web-client/.parcelrc
  applications/web-client/Dockerfile
  applications/web-client/package.json
  yarn.lock
Due: build-web-client, deploy-beta

feat(client): fix alignment in game header and shrink player list when possible
  applications/web-client/src/app/game-widgets/header/game-header.css
  applications/web-client/src/app/game-widgets/header/game-header.tsx
  applications/web-client/src/app/games/pictionary/pictionary-game.component.css
  applications/web-client/src/app/games/stadt-land-fluss/stadt-land-fluss-game.component.css
  applications/web-client/src/app/games/stille-post/stille-post-game.component.css
  applications/web-client/src/app/games/stille-post/stille-post-game.component.tsx
  applications/web-client/src/app/games/taboo/taboo-game.component.css
Due: build-web-client, deploy-beta

fix(pictionary): don't crash when leaving game immediately
  applications/matchmaking/src/games/pictionary/pictionary.ts
Due: build-matchmaking, deploy-beta

fix(history): add gap between history header and application header
  applications/web-client/src/app/matchmaking/history/game-history.component.css
Due: build-web-client, deploy-beta

fix(client): remove default transition
  applications/web-client/src/styles/_clearfix.scss
Due: build-web-client, deploy-beta

feat(stadt-land-fluss): add visual clue when all questions are answered
  applications/web-client/src/app/games/stadt-land-fluss/actions/stop-round-button.component.tsx
  applications/web-client/src/app/games/stadt-land-fluss/stadt-land-fluss-columns.component.tsx
  applications/web-client/src/app/games/stadt-land-fluss/stadt-land-fluss-game.component.css
Due: build-web-client, deploy-beta

feat(stadt-land-fluss): only allow one upvote per answer but allow removal
  applications/matchmaking/src/games/stadt-land-fluss/stadt-land-fluss.ts
  applications/web-client/src/app/games/stadt-land-fluss/stadt-land-fluss-api.ts
  applications/web-client/src/app/games/stadt-land-fluss/stadt-land-fluss-results.component.tsx
  applications/web-client/src/contracts/stadt-land-fluss-configuration.ts
  applications/web-client/src/store/selectors/stadt-land-fluss.ts
Due: build-web-client, build-matchmaking, deploy-beta

feat(client): update translations
  applications/web-client/translation.schema.json
  applications/web-client/translations/de-DE.json
  applications/web-client/translations/en-US.json
Due: build-web-client, deploy-beta

feat(stadt-land-fluss): sort players by rank
  applications/web-client/src/app/games/stadt-land-fluss/stadt-land-fluss-player-list.component.tsx
Due: build-web-client, deploy-beta

feat(stadt-land-fluss): mark next round button as primary button
  applications/web-client/src/app/games/stadt-land-fluss/actions/next-round-button.component.tsx
Due: build-web-client, deploy-beta

feat(client): integrate storybook
  applications/web-client/.storybook/assets/api/image/player
  applications/web-client/.storybook/main.js
  applications/web-client/.storybook/preview.js
  applications/web-client/.storybook/story.css
  applications/web-client/package.json
  applications/web-client/src/app/game-widgets/header/game-header.css
  applications/web-client/src/app/game-widgets/header/game-header.stories.tsx
  applications/web-client/src/app/header.component.tsx
  applications/web-client/src/app/header.stories.tsx
  applications/web-client/src/app/player/player-editor.component.tsx
  applications/web-client/src/app/player/player-editor.stories.tsx
  applications/web-client/src/app/ui-elements/button/button.stories.tsx
  applications/web-client/src/app/welcome.stories.tsx
  yarn.lock
Due: build-web-client, deploy-beta

fix(storybook): include assets in build
  applications/web-client/package.json
Due: build-web-client, deploy-beta

chore(ci): run chromatic in gitlab ci
  .gitlab-ci.yml
Due: none

chore(ci): run chromatic in node container and install all dependencies
  .gitlab-ci.yml
Due: none

chore(ci): only login in docker stages
  .gitlab-ci.yml
Due: none
